:root {
    --navBar: rgb(0, 0, 0);
    --mainBackground: #c6a7e9;
    --borderColor: black;
}
* {
    background-color: var(--mainBackground);
}
.nav {
    background-color: var(--navBar);
    align-items: center;
    justify-content: flex-end;
    font-size: 1rem;
}
.nav-item {
    background-color: var(--navBar);
    border: 1px solid var(--mainBackground)
}

h1, h5 {
    font-family: 'Arima', cursive;
    text-align: center;
    color: var(--borderColor);
    border-bottom: solid black 3px;
}
h5 {
    padding-top: 20px;
    

}

h1 {
    font-weight: 600;
}
div {
    color: var(--borderColor);
    display: flex;
    flex-direction:column;
    border: var(--borderColor) solid 1px;
}

p {
    text-align: Center;
    padding: 10px;
    line-height: 1.5rem;
  }
  


