:root {
    --navBar: rgb(0, 0, 0);
    --mainBackground: #d8d8d8;
    --borderColor: rgb(51, 51, 51);
    --headerColor: gray;
}
* {
    background-color: var(--mainBackground);
}
.nav {
    background-color: var(--navBar);
    align-items: center;
    justify-content: flex-end;
    font-size: 1rem;
}
.nav-item {
    background-color: var(--navBar);
   
}
.footer {
    position: relative;
    margin-top: 0%;
    width: 100%;
    background-color: var(--mainBackground);
    align-items: center;
    justify-content: space-between;
    border: none;
}

h1, h5 {
    font-family: 'Arima', cursive;
    text-align: center;
    color: var(--headerColor);
    border-bottom: solid var(--borderColor) 3px;
}

div {
    color: var(--borderColor);
    display: flex;
    flex-direction:column;
    border: var(--borderColor) solid 1px;
    
}

p {
    text-align: Center;
    padding: 2px;
    line-height: 1.5rem;
  }
  


